#container {
    width: 39rem;
    margin: 0 auto;
    box-sizing: content-box;
    box-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}
.inner {
    padding: 4rem 3rem;
}
.title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}
.todoArea {
    margin-bottom: 4rem;
}
.todoWrap {
    display: flex;
    align-items: center;
}
.searchArea {
    position: relative;
}
.textIcon {
    background: url("../img/text.svg") no-repeat 100%;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
}
#inputBox {
    width: 28.6rem;
    height: 3.6rem;
    border: 0.1rem solid var(--color-gray);
    border-radius: 0.2rem;
    box-sizing: border-box;
    padding-left: 3.6rem;
}
input[type="text"]::placeholder {
    color: var(--color-gray2);
    font-size: 1.4rem;
    font-weight: 300;
}
input[type="text"]:focus {
    outline: none !important; 
    border-color: var(--color-blue);
}
#addBtn {
    width: 3.6rem;
    height: 3.6rem;
    background: url("../img/plus.svg") no-repeat 100%;
    margin-left: 0.8rem;
    margin-bottom: 0.1rem;
    text-indent: -9999px;
}
.subtitleArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}
.subTitle {
    font-size: 2rem;
    font-weight: 500;
}
#clearAll {
    width: 8.8rem;
    height: 3.2rem;
    background: var(--color-blue);
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 0.2rem;
}
#taskWrap > li {
    height: 100%;
    padding: 1rem 0 1.5rem;
    position: relative;
}
#taskWrap > li > .line {
    position: absolute;
    width: 100%;
    bottom: 0;
}
input[type="checkbox"] {
    position: absolute;
    transform: translateY(-50%);
    top: calc(50% - 1px);
    cursor: pointer;
}
input[type="checkbox"]:checked {
    border: 0.1rem solid red;
}
input[type="checkbox"] + label {
    display: inline-block;
    width: 28rem;
    height: 100%;
    margin-left: 2rem;
    word-break: break-all;
    font-size: 1.6rem;
    text-align: justify;
}
#deleteBtn {
    background: url("../img/delete.svg") no-repeat 100%;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999px;
}
#goFigma {
    width: 15rem;
    height: 4.5rem;
    border-radius: 5rem;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    border: 1px solid var(--color-black);
    color: var(--color-black);
}
#goFigma:hover {
    -webkit-animation: move 2.5s infinite; 
    animation: move 2.5s infinite; 
}
@-webkit-keyframes move { 
    0% { transform: rotate(0deg) } 
    20% { transform: rotate(2deg) } 
    24% { transform: rotate(-2deg) } 
    28% { transform: rotate(2deg) } 
    32% { transform: rotate(-2deg) } 
    36% { transform: rotate(0deg) } 
} 